<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clime Forecast | About Us</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="Main-Content">
        
        {{>header}}
    
        <div class="about-content">
        <img src="/img/Rahi.png" width="500px" height="150px" class="rahilogo">
         <p class="paragraph">
          <b>CLIME FORECAST</b> is a weather checking web application. It provides complete weather information from all around the world. We are thankful to <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en" target="_blank">Darksky.net</a> and <a href="https://www.mapbox.com/?utm_medium=sem&utm_source=google&utm_campaign=sem|google|brand|chko-googlesearch-pr01-mapboxbrand-br.exact-intl-landingpage-search&utm_term=brand&utm_content=chko-googlesearch-pr01-mapboxbrand-br.exact-intl-landingpage-search&gclid=CjwKCAjwssD0BRBIEiwA-JP5rO-_V8DA0Ovpq_GABEzhjsATraqFe3v8hJLv1eNl8h-0xAeoLguoURoCcfIQAvD_BwE" target="_blank">mapbox.com</a>
          they provide there API to do this application.<br><br>
          This web application is developed by <b>RAHI GROUP.</b> We provide web service and other IT-based services. Hope you enjoy this application.
          <br>Thank you.
        </p>
         
       </div>

       <div class="icon">

       <a href="https://www.instagram.com/k_square_studio/" target="_blank"><i class="socialmedia"><img src="/img/instagram.png" alt="" width="25px" height="25px"></i></a>
          <a href="https://www.facebook.com/Ksquarestudio18/" target="_blank"><i class="socialmedia"> <img src="/img/facebook.png" alt="" width="25px" height="25px"></i></a> 
          </div>
    </div>

     {{>footer}}
  </body>
</html>
