<div class="footer">
    
    <a href="https://maps.darksky.net/@temperature,49.883,-92.461,2" class="mapLink" target="_blank">View World Map</a> 
    
    <h1 class="tag">Develop by RAHI GROUP. All rights reserved ©2020</h1>
    
    
</div>
