
<div class="HeaderPart">
    <a href="/">
    <img src="/img/logo.png" class="logo" width="300.21px" height="44.10px">
    </a>
     
    
    <div class="content-right">
    <a href="/" class="options">Weather</a>
    <a href="/about" class="options">About us</a>
    <a href="/help" class="options">Help</a>
    </div>

</div>

<h1 class="heading">{{title}}</h1>
